$color-primary: #9e9e9e;
$color-primary-accent: #737277;

$color-secondary: #27b052;

$color-third: #2b3172;

$color-fourth : #3081b9;
$color-fourth-accent: #215fa5;


$color-white: #ffffff;

$primary: #3081b9;

@import "bootstrap/scss/bootstrap"
