.custom-accordion-button {
    background-color: #2B3172; /* Color de fondo personalizado */
    color: white; /* Color del texto personalizado */
    border: none;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

.custom-accordion-button:not(.collapsed) {
    background-color: #2B3172; /* Color de fondo cuando el acordeón está abierto */
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

.custom-accordion-button:hover {
    background-color: #2B3172; /* Color de fondo al pasar el ratón por encima */
    color: white; /* Color del texto al pasar el ratón por encima */
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Cambiar el color de la flechita */
.custom-accordion-button::after {
    filter: invert(1); /* Cambiar el color de la flechita */
}

.custom-accordion-button:not(.collapsed)::after {
    filter: invert(1); /* Cambiar el color de la flechita cuando el acordeón está abierto */
}

.accordion-collapse{
    background-color: #eff3ec;
}

.file-upload-wrapper {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .file-upload-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  .upload-icon {
    font-size: 24px;
    color: #21409a;
    background-color: none;
    cursor: pointer;
  }

  .btnOtrasAcciones{
    background-color: none;
    font-size: 20px;
    color: #21409a;
    cursor: pointer;
  }

  .imagen{
    max-width: 100px;
    max-height: 100px;
  }

  .listado{
    height: 150px;
    width: 50%;
    margin-left: 10px;
    overflow: auto;
  }

  .titulos-tabla{
    background-color: #215FA5;
    color: white;
  } 
  .subtitulos-tabla{
    background-color: #3081b9;
    color: white;
  }

  .caption-original {
    caption-side: top; /* Esto es el valor por defecto, pero se puede especificar explícitamente */
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px; /* Espacio debajo del caption */
  }
 

  .d-flex {
    display: flex;
    align-items: center;
  }
  
  .vertical-text {
    writing-mode: vertical-rl; /* Rota el texto 90 grados en el sentido contrario a las agujas del reloj */
    transform: rotate(180deg); /* Ajusta la dirección del texto */
    text-align: center;
    margin-right: 1rem; /* Espacio entre el texto y la tabla */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    font-weight: bold; /* Opcional: Hace que el texto sea negrita */
  }

  .table-responsive{
    height: 40vh;
    overflow: scroll;
  }

  /* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 767px) {
  .listado {
    width: 100%;
    margin-left: 0; /* Opcional: Ajusta el margen para móviles si es necesario */
  }
}