<div class="accordion w-75 m-auto mt-3" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button custom-accordion-button collapsed mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Datos generales
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <form [formGroup]="generales">
                <div class="row">
                    <div class="col-6 mt-2">
                        <div class="row">
                            <label for="nombre" class="col-sm-4 col-form-label text-end">* Nombre :</label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control" id="nombre" formControlName="nombre">
                            </div>
                          </div>
                    </div>
                    <div class="col-6 mt-2">
                        <div class="row">
                            <label for="objetivos" class="col-sm-4 col-form-label text-end">* Objetivos :</label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control" id="objetivos" formControlName="objetivos">
                            </div>
                          </div>
                    </div>

                    <div class="col-12 mt-2">
                        <div class="row">
                            <label for="hallazgos" class="col-sm-2 col-form-label text-end">* Resumen con principales hallazgos :</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" placeholder="" id="hallazgos" style="height: 100px;" formControlName="hallazgos"></textarea>
                            </div>
                          </div>
                    </div>

                    <div class="col-12 mt-2">
                        <div class="row">
                            <label for="icono" class="col-sm-2 col-form-label text-end">* Carga de ícono MBE :</label>
                            <div class="col-sm-10">
                                <div class="d-flex flex-row bd-highlight mb-3">
                                    <div class="p-2 bd-highlight">
                                        <img [src]="imageUrl" alt="icono" class="img-thumbnail imagen">
                                    </div>
                                    <div class="p-2 bd-highlight">
                                        <div class="file-upload-wrapper">
                                            <input type="file" class="file-upload-input" (change)="onFileChange($event)">
                                            <i class="fas fa-upload upload-icon"></i>
                                          </div> 
                                    </div>
                                    <div class="p-2 bd-highlight">
                                        <fa-icon [icon]="faX" class="btnOtrasAcciones" (click)="clearImage()"></fa-icon>
                                    </div>
                                  </div>
                          </div>
                    </div>
                </div>
                </div>
            </form>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button custom-accordion-button " type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Marco Conceptual
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
               <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="row">
                        <label for="nombre" class="col-sm-4 col-form-label text-end">* Tipo :</label>
                        <div class="col-sm-8">
                            <select class="form-select" aria-label="Seleccione una opción" (change)="changeTipo($event)">
                                <option selected>Seleccione una opción</option>
                                <option [value]="tipo.idCatalogo" *ngFor="let tipo of opcionesTipoEstructura">{{tipo.catalogo}}</option>
                              </select>
                        </div>
                      </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="row">
                        <label for="nombre" class="col-sm-4 col-form-label text-end">* Categoría :</label>
                        <div class="col-sm-7">
                            <select class="form-select" aria-label="Seleccione una opción" (change)="obtenerSubCategorias($event)">
                                <option selected>Seleccione una opción</option>
                                <option [value]="categoria.idCatalogo" *ngFor="let categoria of arregloCategorias">{{categoria.catalogo}}</option>
                              </select>
                        </div>
                        <div class="col-sm-1">
                            <fa-icon [icon]="faPlus" class="btnOtrasAcciones"></fa-icon>
                        </div>
                      </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="row mt-2">
                        <label for="nombre" class="col-sm-2 col-form-label text-end">* Sub-categoría :</label>
                        <div class="col-sm-7 bg-light listado">
                            <div class="form-check" *ngFor="let sub of subCategorias">
                                <input class="form-check-input" type="checkbox" (click)="subcategoriaSeleccionada(sub)" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    {{sub.catalogo}}
                                </label>
                              </div>
                        </div>
                        <div class="col-sm-1">
                            <fa-icon [icon]="faPlus" class="btnOtrasAcciones"></fa-icon>
                        </div>
                      </div>
                      <div class="text-center">
                        <button class="btn btn-sm btn-success m-2" (click)="agregar()">
                            Agregar
                        </button>
                    </div>
                </div>
               </div>
               <div class="d-flex align-items-center">
                <div class="vertical-text">
                  Variable de resultados
                </div>
               <div class="table-responsive">
               <table class="table table-bordered" *ngIf="estructuraFinalColumnasTitulos.length >0 || estructuraFinalFilasTitulos.length>0">
                <caption class="text-center caption-original">Variable de resultados</caption>
                <thead>
                  <tr class="text-center">
                    <th colspan="2" class="titulos-tabla" *ngIf="estructuraFinalColumnasTitulos.length>0"></th>
                    <th scope="col"  class="titulos-tabla" *ngFor="let columna of estructuraFinalColumnasTitulos" [attr.colspan]="columna.subcategorias.length">{{columna.categoria.catalogo}}</th>
                  </tr>
                  <tr>
                    <th colspan="2" class="titulos-tabla" *ngIf="estructuraFinalColumnasTitulos.length>0"></th>
                    <th class="subtitulos-tabla" *ngFor="let  subcolumna of estructuraFinalColumnasSubitulos">
                            {{ subcolumna.catalogo }}
                     </th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngIf="estructuraFinalFilasTitulos.length>0" class="titulos-tabla"></tr>
                    <tr *ngIf="estructuraFinalFilasTitulos.length>0" class="titulos-tabla"></tr>
                  <tr *ngFor="let subFilas of estructuraFinalFilasSubitulos;let i = index" >
                    <th  class="subtitulos-tabla" id="padre" [ngStyle]="{'padding-top': (regresaPapa(subFilas.idRelacion).subcategorias.length * 2)+'%'}" [attr.rowspan]="regresaPapa(subFilas.idRelacion).subcategorias.length" *ngIf="estructuraFinalFilasSubitulos[i-1]?.idRelacion !== subFilas.idRelacion">{{regresaPapa(subFilas.idRelacion).categoria.catalogo}}</th>
                    <th  class="subtitulos-tabla" scope="row"> {{subFilas.catalogo}} </th>
                  </tr>
                </tbody>
              </table>
            </div>
               </div>
            </div>
        </div>
    </div>
</div>

<div class="container m-2 text-center">
    <button class="btn btn-sm btn-cancelar m-2" [routerLink]="['/gmbe']">
        <fa-icon [icon]="faRotateLeft"></fa-icon>
        Cancelar
    </button>
    <button class="btn btn-sm btn-guardar m-2" (click)="guardar()">
        <fa-icon [icon]="faFloppyDisk"></fa-icon>
        Guardar
    </button>
</div>