<div class="accordion w-75 m-auto mt-3" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button custom-accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Datos generales
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="row">
                    <div class="col-6 mt-2">
                        <div class="row">
                            <label for="nombre" class="col-sm-4 col-form-label text-end">* Nombre :</label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control" id="nombre">
                            </div>
                          </div>
                    </div>
                    <div class="col-6 mt-2">
                        <div class="row">
                            <label for="objetivos" class="col-sm-4 col-form-label text-end">* Objetivos :</label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control" id="objetivos">
                            </div>
                          </div>
                    </div>

                    <div class="col-12 mt-2">
                        <div class="row">
                            <label for="hallazgos" class="col-sm-2 col-form-label text-end">* Resumen con principales hallazgos :</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" placeholder="" id="hallazgos" style="height: 100px;"></textarea>
                            </div>
                          </div>
                    </div>

                    <div class="col-12 mt-2">
                        <div class="row">
                            <label for="icono" class="col-sm-2 col-form-label">* Carga de ícono MBE :</label>
                            <div class="col-sm-10">
                                <div class="d-flex flex-row bd-highlight mb-3">
                                    <div class="p-2 bd-highlight">
                                        <img [src]="imageUrl" alt="icono" class="img-thumbnail imagen">
                                    </div>
                                    <div class="p-2 bd-highlight">
                                        <div class="file-upload-wrapper">
                                            <input type="file" class="file-upload-input" (change)="onFileChange($event)">
                                            <i class="fas fa-upload upload-icon"></i>
                                          </div> 
                                    </div>
                                    <div class="p-2 bd-highlight">
                                        <fa-icon [icon]="faX" class="btnOtrasAcciones" (click)="clearImage()"></fa-icon>
                                    </div>
                                  </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button custom-accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Mapa Conceptual
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse
                plugin adds the appropriate classes that we use to style each element. These classes control the overall
                appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go
                within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
        </div>
    </div>
</div>