.card{
    width: 358px;
    height: 281px;
    background-color: #54C287;
    margin: auto;
}
img{
    width: auto;
    height: 150px;
    margin: auto;
}

p{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 340px) and (max-width: 800px) {
    p{
        font-size: 28px;
        font-family: Arial, Helvetica, sans-serif;
    }
}