<!--div-- class="card shadow" style="width: 18rem;">
  <img [src]="data?.urlImg" class="card-img-top" [alt]="data?.url" class="m-auto pt-3">
  <div class="card-body">
    <p class="card-text m-1 text-center">
      <strong>
        MBE<br>
        {{data?.nombre}}
      </strong>
    </p>
  </div>
</!--div-->

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
     <!--img [src]="data?.urlImg" class="card-img-top" [alt]="data?.url" class="m-auto pt-3"-->
     <p class="card-text m-1 text-center">
      <strong>
        MBE<br>
        {{data?.nombre}}
      </strong>
    </p>
    </div>
    <div class="flip-card-back">
      <h1>John Doe</h1>
      <p>Architect & Engineer</p>
      <p>We love that guy</p>
    </div>
  </div>
</div>