
.img-red {
    min-width: 2rem;
  }



  .redes {
    width: 225px;
    margin-left: auto;
  }


  .img-logo-cnvl{
    min-width: 225px;
    max-width: 225px;
    height: 70px;
  }

  .coneval-sarc {
    height: 60px;
  }

  .border-coneval {
    border-right: 3px solid #737277;
  }

  .nombre-sistema-cnvl {
    font-size: 30px;
    max-width: 3rem;
    color: #27b052;
    font-family: 'ITC Avant Garde Gothic Std Demi',Arial, Helvetica, sans-serif !important;
  }

  //XS
  @media (min-width: 0px) and (max-width: 340px){
    .nombre-sistema-cnvl {
      font-size: 1.125rem ;
      color: #27b052;
      font-family: 'ITC Avant Garde Gothic Std Demi',Arial, Helvetica, sans-serif !important;
    }
    .redes{
      margin: auto;
    }
  }

  //SM
  @media screen and (min-width: 340px) and (max-width: 580px) {
    .nombre-sistema-cnvl {
      font-size: 20px;
      color: #27b052;
      font-family: 'ITC Avant Garde Gothic Std Demi',Arial, Helvetica, sans-serif !important;
      margin-left: 10% !important;
    }
    .redes{
      margin: auto;
    }
    .coneval-sarc{
      width: 100%;
    }
    .img-logo-cnvl {
      min-width: 100px;
      max-width: 200px;
  }
  
  }

  //LG,XL,XXL
  @media screen and (min-width: 992px) {
    .header-contenedor{
      max-height: 76px;
    }
    .nombre-sistema-cnvl {
      font-size: 1.875;
      max-width: 12rem;
      font-family: 'ITC Avant Garde Gothic Std Demi',Arial, Helvetica, sans-serif !important;
    }
  }

