<header>
  <div class="d-flex justify-content-center align-items-center flex-wrap flex-column flex-sm-column flex-md-row flex-lg-row flex-xl-row flex-xxl-row justify-content-md-between justify-content-lg-between justify-content-xl-between justify-content-xxl-between header-contenedor">
    <div class="d-flex align-items-center coneval-sarc">
      <a class="border-coneval mx-0" type="button" rel="noopener noreferrer" href="https://www.coneval.org.mx/Paginas/principal.aspx" target ="_blank">
        <img class="img-logo-cnvl" src="https://www.coneval.org.mx/images/inicio/LOGOTIPO-CONEVAL.svg" alt="Logo CONEVAL"  />
      </a>
      <span class="ms-2 nombre-sistema-cnvl">GMBE</span>
    </div>
    <div class="redes">
      <img [src]="fraseConeval" alt="Frase coneval" />
      <div class="d-flex justify-content-around align-items-center px-4">
        <a class="img-red" href="https://www.facebook.com/Coneval/" target="_blank" rel="noopener noreferrer">
          <img [src]="facebook" alt="facebook" />
        </a>
        <a class="img-red" href="https://twitter.com/coneval" target="_blank" rel="noopener noreferrer">
            <img [src]="twitter" alt="twitter"  />
        </a>
        <a class="img-red" href="https://www.youtube.com/user/CONEVALVIDEO" target="_blank" rel="noopener noreferrer">
          <img [src]="youtube" alt="youtube"  />
        </a>
        <a class="img-red" href="https://www.instagram.com/coneval_mx/" target="_blank" rel="noopener noreferrer">
          <img [src]="instagram" alt="instagram" />
        </a>
        <a class="img-red" href="https://blog.coneval.org.mx/" target="_blank" rel="noopener noreferrer">
          <img [src]="blog" alt="blog"  />
        </a>
        <a class="img-red" href="https://www.coneval.org.mx/SalaPrensa/Paginas/Newsletter/Podcasts_CONEVAL.aspx" target="_blank" rel="noopener noreferrer">
          <img [src]="podcast" alt="podcast"  />
        </a>
      </div>
    </div>
  </div>
</header>
