<div class="container-fluid p-0">
  <div class="d-flex flex-row w-100">
    <span id="nombreSistema" class="float-start mx-1 nombre-sistema">
      {{cortarNombre(gmbe?.sistemaCorto)}}
    </span>
    <a class="navbar-brand d-flex flex-column mx-0 py-0" target="_blank" [href]="generales?.logos?.header?.url" >
      <img [src]="generales?.logos.header?.logoConevalHeader" class="logoConeval"
        [alt]="generales?.logos.header?.alt" />
        <img alt="logos" [src]="generales?.logos?.fraseConeval?.logoConevalHeader" width="180" classs="mt-5" />
    </a>
    <ul class="list-unstyled d-flex justify-content-evenly w-100 ps-4 links color-menu my-0">
      <li *ngFor="let item of opciones;index as i" class="nav-item opt-text mx-1" style="min-width: 8rem !important;"
        [ngClass]="{'opcionseleccionada':opcionSeleccionada(item?.url,i),'text-wrap':obtenerPalabraLarga(item?.nombre)<=minWrap,'text-break':obtenerPalabraLarga(item?.nombre)>minWrap}">
        <a class="nav-link text-light" [href]="item?.url" *ngIf="!item.interna" >{{item?.nombre}}</a>
        <a class="nav-link text-light" [routerLink]="[item?.url]" *ngIf="item.interna" (click)="cambiarTitulo(item?.nombre)">{{item?.nombre}}</a>
      </li>
    </ul>

    <button class="navbar-toggler menu-priority d-none" data-bs-toggle="collapse" data-bs-target="#navcol-1">
      <em class="fas fa-bars"></em>
    </button>
  </div>
  <div class="w-100">
    <div id="navcol-1" class="collapse navbar-collapse  color-menu-collapsable">
      <ul class="navbar-nav hidden-links"></ul>
    </div>
  </div>
</div>