<div class="container-fluid">
    <div class="d-flex flex-row-reverse bd-highlight m-3">
        <div class="p-2 bd-highlight">
            <button [routerLink]="['/crear-gmbe']" class="btn-nuevo btn-sm">
                <em class='bi bi-plus'></em>
              Nuevo GMBE
              </button>
        </div>
      </div>
      <table class="table table-striped table-bordered">
        <thead class="cabecera-tabla">
          <tr class="text-center ">
            <th scope="col">Ver</th>
            <th scope="col">Acciones</th>
            <th scope="col">MBE</th>
            <th scope="col">Quien lo creo</th>
            <th scope="col">Fecha de creación</th>
            <th scope="col">Fecha de publicación</th>
            <th scope="col">Gestión</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row" class="text-center">
                <fa-icon [icon]="faEye" class="btn-acciones"></fa-icon>
            </td>
            <td  class="text-center">
                <fa-icon [icon]="faEllipsisVertical" class="btn-acciones"></fa-icon>
            </td>
            <td  class="text-center">
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
</div>
