.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #21409a50; // Choose your own color here
 }

/*
 .table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #21409a50; // Choose your own color here
 }*/
 
  th{

   background-color: #2e3e97 !important;
   color: #ffffff;
   font-family: Arial, Helvetica, sans-serif;
  }


th{

    background-color: #2e3e97 !important;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
   }
 
   .activo{
    color: green;
   }

   .inactivo{
    color: red;
   }

   .file-upload-wrapper {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .file-upload-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  .upload-icon {
    font-size: 24px;
    color: #21409a;
    background-color: none;
    cursor: pointer;
  }

  .eliminarImagen{
    color: #21409A;
  }
