<div class="bg-white">
    <div class="d-flex bd-highlight preguntas m-2">
        <div class="p-2 flex-grow-1 bd-highlight text-center">
            <strong class="pregunta">¿Qué es un Mapa de Brechas de Evidencia?</strong>
        </div>
    </div>
</div>
<div class="m-auto w-75 contendorInicial" id="total" id="padre">
    <div class="h-75 overflow">
        <table class="table table-borderless mt-4" id="seccion1">
            <caption></caption>
            <th id="th1" class="p-0"></th>
            <tbody>
                <tr>
                    <td>
                        <div class="text-justify">
                            <div [innerHtml]="bienvenidaContenito"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <div class="d-flex bd-highlight preguntas m-2">
                                <div class="p-2 flex-grow-1 bd-highlight text-center">
                                    <strong class="pregunta"> ¿Cómo utilizar el MBE? </strong>
                                </div>
                            </div>
                                <ol>
                                    <li>
                                        Selecciona el <strong style="color : #4caf62"> Mapa de Brechas de Evidencia</strong> de tu interés;
                                    </li>
                                    <li>
                                        Acerca el cursor a cada burbuja para ver el detalle de los estudios y evaluaciones
                                        disponibles;
                                    </li>
                                    <li>
                                        Al dar clic sobre algún enlace de interés, accederás a la información específica de
                                        los estudios y evaluaciones, clasificadas de acuerdo con el tipo de apoyo evaluado y el
                                        derecho social al que se asocian los resultados que se documentan.
                                    </li>
                                </ol>
                                <p>Consulte a continuación los <strong style="color : #4caf62">MBE</strong> elaborados por el CONEVAL.</p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="mb-3 mbes">
</div>