<footer class="container-fluid d-flex justify-content-center align-items-center py-2">
  <div class="d-flex flex-column flex-md-row">
    <div class="d-flex justify-content-center align-items-center">
      <img class="img-footer" [src]="logoBlanco" alt="Loco CONEVAL"/>
    </div>
    <div class="info-footer d-flex flex-column justify-content-center align-items-center align-items-md-start">
        <div class="px-1 d-block">
          <span class="fuente-footer">Av. Insurgentes Sur # 810, Colonia Del Valle,</span>
        </div>
        <div class="px-1 d-block">
          <span class="fuente-footer">Alcaldía Benito Juárez, C.P. 03100, Ciudad de México.</span>
        </div>
        <div class="px-1 d-block">
          <span class="fuente-footer">Conmutador: (01-55) 54-81-72-00, correo electrónico: <strong>unidadtransparencia@coneval.org.mx.</strong></span>
        </div>
    </div>
  </div>
</footer>
