@import "../../../assets/style/color.scss";
@import "../../../assets/style/base.scss";

footer{
  background-color: $color-third;
  min-height: 80px !important;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  line-height: normal;
  position: relative;
  bottom: 0;
  width: 100%;
}

.r-footer{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 20px;
}


.img-footer{
  width: 188px;
  height: 50px;
}

@media only screen and (max-width: 767px) {
  .info-footer{
    text-align: center;
    border-top-width: 3px;
    border-top-color: #ffffff;
    border-top-style: solid;
    margin-top: 10px;
    padding-top: 10px;
    line-height: normal;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media only screen and (min-width: 767px){
  .info-footer {
    border-left-width: 3px;
    border-left-color: #ffffff;
    border-left-style: solid;
    line-height: normal;
    padding-left: 15px;
  }
}

.fuente-footer {
  font-size: 10px;
  line-height: normal;
}

.v-line {
  border-left: 3px solid rgb(100, 98, 98);
  top: 10%;
  right: 1px;
  position: relative;
  height: 80%;
  margin-right: 20px;
  margin-left: 20px;
}

.v-line-white {
  border-left: 3px solid rgb(249, 249, 249);
  top: 10%;
  right: 1px;
  position: relative;
  margin-right: 20px;
  margin-left: 20px;
}
