<footer class="container-fluid d-flex justify-content-center align-items-center py-2">
    <div class="d-flex flex-column flex-md-row">
      <div class="d-flex justify-content-center align-items-center">
        <img class="img-footer" [src]="generales?.logos?.footer?.logoConevalFooter" [alt]="generales?.logos?.footer?.alt"/>
      </div>
      <div class="info-footer d-flex flex-column justify-content-center align-items-center align-items-md-start">
          <div class="px-1 d-block">
            <span class="fuente-footer">{{generales?.datosFooter?.colonia}}</span>
          </div>
          <div class="px-1 d-block">
            <span class="fuente-footer">{{generales?.datosFooter?.alcaldia}}</span>
          </div>
          <div class="px-1 d-block">
            <span class="fuente-footer">Conmutador: {{generales?.datosFooter?.telefono}}, correo electrónico: <strong>{{generales?.datosFooter?.correo}}</strong></span>
          </div>
      </div>
    </div>
  </footer>
