.imagen{
    max-width: 100px;
    max-height: 100px;
  }

  textarea{
    width: 100%;
    height: 200px;
  }

  .titulos-tabla{
    background-color: #215FA5;
    color: white;
  } 
  .subtitulos-tabla{
    background-color: #3081b9;
    color: white;
  }

  .caption-original {
    caption-side: top; /* Esto es el valor por defecto, pero se puede especificar explícitamente */
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px; /* Espacio debajo del caption */
  }
 

  .d-flex {
    display: flex;
    align-items: center;
  }
  
  .vertical-text {
    writing-mode: vertical-rl; /* Rota el texto 90 grados en el sentido contrario a las agujas del reloj */
    transform: rotate(180deg); /* Ajusta la dirección del texto */
    text-align: center;
    margin-right: 1rem; /* Espacio entre el texto y la tabla */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    font-weight: bold; /* Opcional: Hace que el texto sea negrita */
  }

  .table-responsive{
    height: 60vh;
    overflow: scroll;
    position: relative;
  }

  
  .sticky-header {
    position: sticky;
    top: 0;
    background: white; /* Para que el fondo del encabezado sea blanco */
    z-index: 10; /* Asegura que el encabezado esté por encima de otras filas */
  }
  
  th{
    width: 200px !important;
  }

  