

<nav class="start-bar">
    <div class="d-flex d-row justify-content-between">
      <div>
        <button class="white-button etiquetaHome mx-0 text-nowrap" ngbTooltip="Inicio" [routerLink]="['/inicio']">
          <em class="bi bi-house-door-fill"></em>
          Inicio
        </button>
      </div>
        <div class="escritorio" >
          <label for="usuario" class="text-light me-3"  *ngIf="validaToken()">
            <fa-icon [icon]="faUser"></fa-icon>
            {{getUsuario()}}
          </label>
          <button ngbTooltip="Cerrar sesión" class="white-button etiquetaHome mx-1 text-nowrap" (click)="cerrarSesion()"
                  *ngIf="validaToken()">
            <label for="sesion">Cerrar sesión</label>
          </button>

          <button ngbTooltip="Iniciar sesión" class="white-button etiquetaHome mx-1 text-nowrap" [routerLink]="['/login']"
                  *ngIf="!validaToken()">
            <label for="sesion">Iniciar sesión</label>
          </button>
        </div>
  
  
      <div class="navbar movil p-0 m-0">
        <button class="white-button mx-0 text-nowrap" type="button" (click)="desplegar();">
          <span class="navbar-toggler-icon color-menu"></span>
        </button>
      </div>
    </div>
  </nav>
  <div [ngClass]="{'navbar-collapse color-opciones collapsing movil':!abrir,'navbar-collapse color-opciones collapse movil show': abrir}">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 movil d-flex justify-content-start">
      <li class="nav-item div-nav"  *ngIf="validaToken()">
        <a class="nav-link link-color" *ngIf="rolUsuario() === 1" [routerLink]="['/usuarios']">Usuarios</a>
      </li>
      <li class="nav-item div-nav" *ngIf="validaToken()">
        <a class="nav-link link-color" [routerLink]="['/gmbe']" >MBE's</a>
      </li>
      <li class="nav-item div-nav">
        <a class="nav-link link-color cursor" (click)="cerrarSesion()" *ngIf="validaToken()">Cerrar sesión</a>
      </li>
      <li class="nav-item div-nav">
        <a class="nav-link link-color cursor" [routerLink]="['/login']" *ngIf="!validaToken()">Iniciar sesión</a>
      </li>

    </ul>
  </div>
  