/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

.sticky-wrapper {
    position: sticky;
    top: 0;
    background-color: white; /* Cambia al color de fondo de tu header */
    z-index: 1000; /* Asegura que el header esté sobre otros elementos */
  }
  
  #header-priority {
    /* Ajusta estilos adicionales de tu header aquí si es necesario */
  }
  
  .modal-header{
    background-color: #2e3e97;
    color: #ffffff;
  }

 .btn-cancelar, .btn-cancelar:hover{
    background-color: #B3273E;
    color:#ffffff;
 }

 .btn-guardar, .btn-guardar:hover{
    background-color: #00a94f;
    color:#ffffff;
 }

 .btn-nuevo, .btn-nuevo:hover{
   background-color: #21409A;
   color: #ffffff;
   font-size: 16px;
   font-family: Arial, Helvetica, sans-serif;
   border: none;
 }

 .cabecera-tabla{
   font-size: 16px;
   font-family: Arial, Helvetica, sans-serif;
 }

 .columna-acciones{
   width: 100px;

 }
 .btn-acciones{
   color : #21409a
 }

 .btn-acciones{
  cursor: pointer;
 }


 .btn-acciones-inabil{
  color:gray;
 }

 
 .custom-swal-title {
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.custom-swal-html {
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.custom-swal-confirm-button {
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.custom-swal-cancel-button {
  font-size: 16px;
  font-family: Arial, sans-serif;
}