<div class="container-fluid d-flex flex-column justify-content-center color-container wrapper flex-grow-1 d-flex">
  <div style="margin-left: 14px">
    <div class="d-flex flex-row justify-content-between my-3">
      <form class="d-flex flex-row justify-content-center align-items-center w-50 anchoBuscador"
        style="margin-left: 3px">
        <span class="d-flex justify-content-center align-items-center letraContenido">Buscar:&nbsp;</span><input
          class="form-control border border-dark buscador" [formControl]="searchValue"
          ngbTooltip="Buscar usuario" type="search" />
      </form>
      <button (click)="open(crearModal)"  class="btn-nuevo btn-sm botonesPrincipales"
        style="margin-right: 18px">
        <em class='bi bi-plus'></em>Nuevo Usuario
      </button>
    </div>
  </div>
  <table class="table table-striped table-bordered custom-striped-table">
    <thead class="cabecera-tabla">
      <tr class="text-center ">
        <th scope="col" class="columna-acciones">Ver</th>
        <th scope="col" class="columna-acciones">Editar</th>
        <th scope="col" class="columna-acciones">Eliminar</th>
        <th scope="col">Nombre</th>
        <th scope="col">Usuario</th>
        <th scope="col">MBE</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td class="text-center align-middle">
          <fa-icon [icon]="faEye" class="btn-acciones"></fa-icon>
        </td>
        <td class="text-center align-middle">
          <fa-icon [icon]="faPencil" class="btn-acciones" (click)="openEditar(editarModal,usuario)"></fa-icon>
        </td>
        <td class="text-center align-middle ">
          <fa-icon [icon]="faTrashCan" class="btn-acciones" (click)="eliminar(usuario)"></fa-icon>
        </td>
        <td class="align-middle">{{usuario?.nombre}}</td>
        <td class="text-center align-middle">{{usuario?.userName}}</td>
        <td class="nombreMBE align-middle">
          <ul>
            <li *ngFor="let item of resumeTablamMbe(usuario?.mbesAsociados)">
              {{item}}
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <nav class="d-flex justify-content-center">
    <ngb-pagination [(page)]="page" [collectionSize]="items" [maxSize]="10" [pageSize]="pageSize"
      (pageChange)="loadPage($event)" [rotate]="true" [directionLinks]="true" [boundaryLinks]="false">
    </ngb-pagination>
  </nav>
</div>


<ng-template #crearModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title w-100 text-center">Nuevo Usuario</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="usuarioForm">
      <div class="mb-3 row">
        <label for="usuario" class="col-sm-4 col-form-label text-end">Usuario</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="usuario" (input)="filterUsuarios($event)"
            formControlName="userName">
          <datalist id="usuariosList" style="display: block !important;"
            [ngStyle]="{'max-height': filteredUsuarios && filteredUsuarios.length > 3 ? '100px' : 'auto', 'overflow-y': filteredUsuarios && filteredUsuarios.length > 3 ? 'auto' : 'initial'}">
            <option *ngFor="let usuario of filteredUsuarios" [value]="usuario.samaccountname"
              (click)="selectUsuario(usuario)">{{ usuario.samaccountname }}</option>
          </datalist>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="correo" class="col-sm-4 col-form-label text-end">Correo</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="correo" placeholder="ejemplo@ejemplo.com"
            formControlName="correo">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="rol" class="col-sm-4 col-form-label text-end">Rol</label>
        <div class="col-sm-6">
          <select class="form-select" aria-label="Rol" formControlName="idRol">
            <option selected>Seleccione un rol</option>
            <option [value]="rol.idRol" *ngFor="let rol of roles">{{rol.rol}}</option>
          </select>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="nombre" class="col-sm-4 col-form-label text-end">Nombre</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="nombre" placeholder="Nombre(s)" formControlName="nombre">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="rol" class="col-sm-4 col-form-label">Mapas de Brechas de Evidencias</label>
        <div class="col-sm-6">
          <div class="btn-group drop" dropdown #dropdown="bs-dropdown" [autoClose]="false">
            <button dropdownToggle type="button" class="btn dropdown-toggle ">
              <span class="caret icono-toogle" *ngIf="mbeEditables!.length>0">Seleccionados
                {{mbeEditables?.length}}</span>
              <span class="caret icono-toogle" *ngIf="mbeEditables!.length<=0">Ningún
                seleccionado</span>
            </button>
            <ul id="dropdown-triggers-manual" *dropdownMenu class="dropdown-menu" role="menu"
              aria-labelledby="button-triggers-manual">
              <li role="menuitem" *ngFor="let mbe of listaMBE">
                <input type="checkbox" class="radio" (change)="onCheckboxChangeMBE(mbe.idMbe)" />{{mbe.nombre}}
              </li>
            </ul>
          </div>
        </div>

      </div>
    </form>
  </div>
  <div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-sm btn-cancelar" (click)="modal.dismiss('Cancelar')">
      <fa-icon [icon]="faRotate"></fa-icon>
      Cancelar
    </button>
    <button type="button" class="btn btn-sm btn-guardar" (click)="crear()" [disabled]="!usuarioForm.valid">
      <fa-icon [icon]="faFloppyDisk"></fa-icon>
      Guardar
    </button>
  </div>
</ng-template>



<ng-template #editarModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title w-100 text-center">Editar Usuario</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="usuarioEditForm">
      <div class="mb-3 row">
        <label for="usuario" class="col-sm-4 col-form-label text-end">Usuario</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="usuario" formControlName="userName">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="correo" class="col-sm-4 col-form-label text-end">Correo</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="correo" formControlName="correo">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="rol" class="col-sm-4 col-form-label text-end">Rol</label>
        <div class="col-sm-6">
          <select class="form-select" aria-label="Rol" formControlName="idRol">
            <option selected>Seleccione un rol</option>
            <option [value]="rol.idRol" *ngFor="let rol of roles">{{rol.rol}}</option>
          </select>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="nombre" class="col-sm-4 col-form-label text-end">Nombre</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="nombre" formControlName="nombre">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="rol" class="col-sm-4 col-form-label">Mapas de Brechas de Evidencias</label>
        <div class="col-sm-6">
          <div class="btn-group drop" dropdown #dropdown="bs-dropdown" [autoClose]="false">
            <button dropdownToggle type="button" class="btn dropdown-toggle ">
              <span class="caret icono-toogle" *ngIf="usuarioEditar?.mbesAsociados?.length>0">Seleccionados
                {{usuarioEditar?.mbesAsociados?.length}}</span>
              <span class="caret icono-toogle" *ngIf="usuarioEditar?.mbesAsociados?.length<=0">Ningún
                seleccionado</span>
            </button>
            <ul id="dropdown-triggers-manual" *dropdownMenu class="dropdown-menu" role="menu"
              aria-labelledby="button-triggers-manual">
              <li role="menuitem" *ngFor="let mbe of listaMBE">
                <input type="checkbox" class="radio" [checked]="verificaAsociacionMBE(mbe?.idMbe)" />{{mbe.nombre}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-sm btn-cancelar" (click)="modal.dismiss('Cancelar')">
      <fa-icon [icon]="faRotate"></fa-icon>
      Cancelar
    </button>
    <button type="button" class="btn btn-sm btn-guardar" (click)="editar()">
      <fa-icon [icon]="faFloppyDisk"></fa-icon>
      Guardar
    </button>
  </div>
</ng-template>