<div class="container-fluid">
    <div class="d-flex flex-row-reverse bd-highlight m-3">
        <div class="p-2 bd-highlight">
            <button (click)="open(content)" class="btn-nuevo btn-sm">
              <em class='bi bi-plus'></em>
              Nuevo Usuario
              </button>
        </div>
      </div>
      <table class="table table-striped table-bordered custom-striped-table">
        <thead class="cabecera-tabla">
          <tr class="text-center ">
            <th scope="col" class="columna-acciones">Ver</th>
            <th scope="col" class="columna-acciones">Editar</th>
            <th scope="col" class="columna-acciones">Eliminar</th>
            <th scope="col">Nombre</th>
            <th scope="col">Usuario</th>
            <th scope="col">MBE</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios">
            <td scope="row" class="text-center">
                <fa-icon [icon]="faEye" class="btn-acciones"></fa-icon>
            </td>
            <td  class="text-center">
                <fa-icon [icon]="faPencil" class="btn-acciones"></fa-icon>
            </td>
            <td  class="text-center ">
                <fa-icon [icon]="faTrashCan" class="btn-acciones"></fa-icon>
            </td>
            <td>{{usuario?.nombre}}</td>
            <td class="text-center">{{usuario?.userName}}</td>
            <td>No definido por ahora</td>
          </tr>
        </tbody>
      </table>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title w-100 text-center">Nuevo Usuario</h4>
  </div>
  <div class="modal-body">

    <div class="mb-3 row">
      <label for="usuario" class="col-sm-4 col-form-label text-end">Usuario</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="usuario">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="correo" class="col-sm-4 col-form-label text-end">Correo</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="correo" placeholder="ejemplo@ejemplo.com">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="rol" class="col-sm-4 col-form-label text-end">Rol</label>
      <div class="col-sm-6">
        <select class="form-select" aria-label="Rol">
          <option selected>Seleccione un rol</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="nombre" class="col-sm-4 col-form-label text-end">Nombre</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="nombre" placeholder="Nombre(s)">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="rol" class="col-sm-4 col-form-label">Mapas de Brechas de Evidencias</label>
      <div class="col-sm-6">
        <select class="form-select" aria-label="Mapas de brechas">
          <option selected>Seleccione los GMBE que desee.</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>

  </div>
  <div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-sm btn-cancelar" >
      <fa-icon [icon]="faRotate"></fa-icon>
      Cancelar
    </button>
    <button type="button" class="btn btn-sm btn-guardar" >
      <fa-icon [icon]="faFloppyDisk"></fa-icon>
      Guardar
    </button>
  </div>
</ng-template>
